@{
    ViewBag.Title = " JeR - Clientes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<script src="~/Scripts/jquery-1.9.1.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Scripts/jquery.mask.min.js"></script>

<script>
   
jQuery(function($){
    $("#telefoneCliente").mask("(99) 9999-99999");
    $("#cpfCliente").mask("999.999.999-99");
    $("#dtnascCliente").mask("99/99/9999");
});
   
</script>

<h2>Cadastrar novo cliente</h2>

<p style="color:red; font-size: 14px;"> @Html.Raw(ViewBag.retorno) </p>

<form action="cadastrarCliente" method="post" id="cadastrarCliente">
    <h7><b>Nome:</b> </h7> <input type="text" id="nomeCliente" name="nomeCliente" required />
    <br />
    <h7><b>RG:</b> </h7> <input type="text" maxlength="11" id="rgCliente" name="rgCliente" required />
    <br />
    <h7><b>CPF:</b> </h7> <input type="text" placeholder="(somente números)" maxlength="14" id="cpfCliente" pattern="[0-9]{3}.[0-9]{3}.[0-9]{3}-[0-9]{2}$" name="cpfCliente" required />
    <br />
    <h7><b>Telefone:</b> </h7> <input type="tel" pattern="\([0-9]{2}\) [0-9]{4}-[0-9]{4,5}$" placeholder="(99) 9999-9999" id="telefoneCliente" name="telefoneCliente" required />
    <br />
    <h7><b>Endereço:</b> </h7> <input type="text" id="enderecoCliente" name="enderecoCliente" required />
    <br />
    <h7><b>Data de Nascimento:</b> </h7> <input type="text" placeholder="dd/mm/aaaa" pattern="[0-9]{2}\/[0-9]{2}\/[0-9]{4}$" id="dtnascCliente" name="dtnascCliente" required />
    <br /><br />
    <input type="submit" value="Cadastrar" class="btngreen" />

</form>