@{
    ViewBag.Title = "JeR - Produtos";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Cadastrar novo produto</h2>

<p style="color:red; font-size: 14px;"> @Html.Raw(ViewBag.retorno) </p>

<form action="cadastrarProduto" method="post" id="cadastrarProduto">
    <h7><b>Código:</b> </h7> <input type="text" pattern="[0-9]+" title="Somente números" maxlength="13" id="idProduto" name="idProduto" required />
    <br />
    <h7><b>Descrição:</b> </h7> <input type="text" maxlength="50" id="descricaoProduto" name="descricaoProduto" required />
    <br />
    <h7><b>Categoria: </b> </h7> @Html.DropDownList("idCategoria", ViewData["Categorias"] as List<SelectListItem>,"Selecionar")
   
    <br />
    <h7><b>Preço:</b> </h7> <input type="tel" title="Deve estar no formato: 123,45" placeholder="R$ 00,00" pattern="([0-9]{1,3}\.)?[0-9]{1,3},[0-9]{2}$" id="precoProduto" name="precoProduto" required />
    <br />
    <h7><b>Marca:</b> </h7> <input type="text" maxlength="15" id="marcaProduto" name="marcaProduto" required />
    <br />
    <h7><b>Quantidade em estoque:</b> </h7> <input type="number" title="Somente números" maxlength="3" min="1" id="qtdestoqueProduto" name="qtdestoqueProduto" required />
    <br />
    <h7><b>Tamanho:</b> </h7> <input type="text" maxlength="2" id="tamanhoProduto" name="tamanhoProduto" required />
<br /><br />
    <input type="submit" value="Cadastrar" class="btngreen" />

</form>