@{
    ViewBag.Title = "JeR - Relatórios";
}

<h2>Gerar Relatórios em PDF:</h2>

<div>
    <h4>@Html.ActionLink("Vendas diárias", "ERRelatorioDiario")</h4>
    <h4>@Html.ActionLink("Vendas diárias (a prazo)", "ERRelatorioDiarioAPrazo")</h4>
    <h4>@Html.ActionLink("Vendas diárias (à vista)", "ERRelatorioDiarioAVista")</h4>
    <h4>@Html.ActionLink("Vencimentos", "ERRelatorioVencimentos")</h4>
</div>


